{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated%}
{% else %}


<style>
    .error-message {
        background-color: #fef2f2; /* Light red */
        color: #b91c1c; /* Dark red */
        border: 1px solid #fca5a5; /* Light red border */
    }
    .success-message {
        background-color: #d1fae5; /* Light green */
        color: #065f46; /* Dark green */
        border: 1px solid #bbf7d0; /* Light green border */
    }
    .promo-banner {
        position: fixed;
        top: 56px; /* Adjust based on your navbar height */
        left: 0;
        width: 100%;
        padding: 10px;
        background-color: #ffdd57; /* Bright yellow */
        color: #333; /* Dark text */
        text-align: center;
        font-weight: bold;
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .promo-banner button {
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
    }
</style>

<!-- Promotional Banner -->
{% comment %} <div class="promo-banner mt-4 text-center">
    {% if promo_code %}
<h1 class='text-center'>
    Special Offer: Get {{ promo_code.discount_percentage }}% off on your first mock interview! Use code 
    <strong>{{ promo_code.code }}</strong> at checkout.
</h1>
{% else %}
<h1 class='text-center'>
    No special offers available right now. Check back later!
</h1>
{% endif %} 
<button onclick="this.parentElement.style.display='none';">×</button>
</div> {% endcomment %}

<div class="container mx-auto mt-20">
    <!-- Hero Section -->
    <section class="flex flex-col justify-center items-center bg-cover bg-center">
        <div class="w-full h-full flex flex-col justify-center items-center">
            <!-- Messages section -->
            {% if messages %}
                <div class="w-full max-w-4xl p-4 text-center">
                    {% for message in messages %}
                        <div class="p-4 rounded-md shadow-md mb-4
                            {% if message.tags == 'error' %}
                                error-message
                            {% else %}
                                success-message
                            {% endif %}
                        ">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        

            




            
        </div>
    </section>

    <!-- Main Content -->
    <main class="p-6 max-w-screen-2xl mx-auto">
        <!-- Card Section -->
        

    </main>
</div>

{% endif %}

{% endblock content %}
